
.img-circle-test {
	background-repeat: no-repeat;
	background-position: 34%;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 34px;
	border: 5px solid #2BCAA6;
	cursor: pointer;
}

.image-box-shadow {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideMe {
	opacity: 0;
}

.avatar-well h1 {
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.background-well {
	min-height: 450px;
	background-image: url('/smoke-two.png');

}

.text-row {
	padding-top: 300px;
}

.createRoom {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	float: right;
}

.first-title {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 0.5s;
}

.second-title {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 2s;
}

.createRoom {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 3.5s;
}