<Template name="index">
	{{#if currentUser}}
	{{#if currentUser.avatarURL}}
	<div class="well background-well">
<div class="row">
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
		<a href="#" class="btn btn-danger btn-fab btn-raised mdi-action-grade createRoom mdi-content-add animated fadeInRight"></a>
	</div>
</div>
<div class="row text-row">
	<div class="col-md-6">
		<h3 class="first-title animated fadeInLeft">Don't let what you say<br>get you in trouble.</h3><br>

		<h4 class="second-title animated fadeInLeft">Create a smoke room <br> where messages don't stick around to be seen</h4>
	</div>
	<div class="col-md-6"></div>
</div>
</div>
{{else}}
<div class="well avatar-well">

	<h1>Pick an avatar</h1>
	{{> photoGrid}}
</div>
{{/if}}

{{else}}
<div class="well">
	{{> atForm}}
</div>
{{/if}}
</Template>


<Template name="photoGrid">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<div class="img-circle-test avatar hideMe" data-url="http://im.ft-static.com/content/images/ba331ea4-8ce2-11e3-8b82-00144feab7de.jpg" style = 'background-image: url(http://im.ft-static.com/content/images/ba331ea4-8ce2-11e3-8b82-00144feab7de.jpg)'>
			</div>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">	
			<div class="img-circle-test avatar hideMe" data-url="http://shoebat.com/wp-content/uploads/2015/05/Presbo.jpg" style='background-image: url(http://shoebat.com/wp-content/uploads/2015/05/Presbo.jpg)'>
			</div>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">	
			<div class="img-circle-test avatar hideMe" data-url="http://wp.production.patheos.com/blogs/watchinggod/files/2015/07/bill-cosby-2.jpg" style='background-image: url(http://wp.production.patheos.com/blogs/watchinggod/files/2015/07/bill-cosby-2.jpg)'>
			</div>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">	
			<div class="img-circle-test avatar hideMe" data-url="http://i.telegraph.co.uk/multimedia/archive/03238/charlie-sheen_3238652b.jpg" style='background-image: url(http://i.telegraph.co.uk/multimedia/archive/03238/charlie-sheen_3238652b.jpg)'>
			</div>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">	
			<div class="img-circle-test avatar hideMe" data-url="https://ionenewsone.files.wordpress.com/2012/09/condoleezza-rice-dl.jpg" style='background-image: url(https://ionenewsone.files.wordpress.com/2012/09/condoleezza-rice-dl.jpg)'>
			</div>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">	
			<div class="img-circle-test avatar hideMe" data-url="http://static.comicvine.com/uploads/original/11116/111163466/4723892-0581054328-24-ki.jpg" style='background-image: url(http://static.comicvine.com/uploads/original/11116/111163466/4723892-0581054328-24-ki.jpg)'>
			</div>
		</div>

		<div class="col-lg-3 col-md-4 col-xs-6 thumb">	
			<div class="img-circle-test avatar hideMe" data-url="http://static.comicvine.com/uploads/original/11116/111163466/4723892-0581054328-24-ki.jpg" style='background-image: url(https://everyotherdomainwastaken.files.wordpress.com/2013/10/jb-fanvideo-youtube.png?w=800)'>
			</div>
		</div>
	</div>
</Template>
