.navbar.navbar, .navbar-default.navbar {
  background-color: #ffffff;
  color: #707070;
  margin-bottom: 0;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
  background: url('smokeroom.png');
  color: transparent !important;
  background-size: cover;
}

body {
//  background: #313131;
  #gradient {
    padding-top: 20px;
    height: ~"calc(100vh - 50px)";
  }
}