<Template name="mainLayout">
	<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{pathFor route="index"}}">Smokeroom</a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">

			<ul class="nav navbar-nav navbar-right">
				{{#if currentUser}}
				<li><a href="#" class="sign-out">Sign Out</a></li>
				{{else}}
				<li><a href="{{pathFor 'index'}}">Sign In</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
	</div>		

	<div id="gradient">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main">
						{{> yield}}
					</div>
				</div>
			</div>
		</div>
	</div>

</Template>
