<template name="room">
	<div class="well room-well">    
		<div class="row panel">
			<div class="col-lg-12 link-copy">
				<div class="input-group">
					<input type="text" id="roomUrl" value="{{this.roomUrl}}" onClick="this.select();"
								 class="form-control empty"/>

					<div class="input-group-btn"><a href="#" class="btn copyUrl">
						<span class="glyphicon glyphicon-copy"> Copy</span>
						<span class="glyphicon glyphicon-ok hidden"><small> Copied</small></span>
						</a>
                    </div>
				</div>
			</div>
        </div>
        <div class="row col-lg-12">
			<div class="alert alert-dismissable alert-warning {{runningOut this}}">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4>Time is running out!</h4>

				<p>The room will auto-destruct in less than 30s if a new message is not posted.</p>
            </div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h5 class="text-right">Time Remaining: <span class="badge">{{countdown this}}</span></h5>
				</div>
			</div>
        <div class="row">
            <div class="col-lg-12">
            <div class="messages list-group">
                {{#each messages this}}
                   <div class="{{_id}}">
                    <div class="{{isMine owner}} list-group-item">
                        <div class="row-action-primary">
                                <div class="message-avatar"
                                     style='background-image:url({{messageOwner.avatarURL}})'></div>
                            <br/>
                        </div>
                        <div class="row-content">
                            <div class="least-content">{{timeAgo this}}</div>
                            <h5 class="list-group-item-heading">{{messageOwner.username}}</h5>

                            <p class="list-group-item-text">{{text}}</p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                   </div> 
                {{/each}}
            </div>
            </div>
        </div>
    <div class="row messageForm">
				<div class="col-lg-12">
					<form action="" class="newMessage">
						<input type="text" class="messageText form-control empty"
                       name="messageText" placeholder="Type message here"/>
					</form>
			</div>
		</div>
	</div>	

</template>
