.messages {
  overflow: scroll;
  height: ~"calc(100vh - 290px)";
  margin-bottom: 30px;
  .message-avatar {
    background-repeat: no-repeat;
    background-position: 34%;
    border-radius: 50%;
    width: 56px;
    padding-bottom: 100%;
    background-size: cover;
  }
}

.messageForm {
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: ~"calc(100% - 70px)";
}

.main {
  .room-well {
    padding: 40px;
  }
}

@media screen and (max-width: 476px) {
  #gradient {
    .col-md-12 {
      //container column
      &:first-child {
        padding: 0;
      }
    }
  }

  .main {
    .room-well {
      padding: 0px;
      margin-bottom: 0;
    }
  }
  .messages{
    height: ~"calc(100vh - 230px)";
    margin-bottom: 80px;
  }
}